<% require 'faker' 
%>

<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :stadium %>
    <%= form.text_field :stadium %>
  </div>

  <div class="field">
    <%= form.label :tournament_position %>
    <%= form.number_field :tournament_position %>
  </div>

  <div class="field">
    <%= form.label :titles %>
    <%= form.number_field :titles %>
  </div>
  
  <% Faker::Address.unique.clear 
  countries = []
  for item in 0..242
    faker = Faker::Address.unique.country
    countries.push(faker)
  end
  countries = countries.map { |c| Array(c).join(", ") }.sort 
  %>

  <div class="select-field">
    <%= form.label :country %>
    <%= form.select :country, countries %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
