<%= form_with(model: test) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="select-field">
    <%= form.label :cost_type %>
    <%= form.search_field :cost_type %>
  </div>

  <div class="select-field">
    <%= form.label :name %>
    <%= form.select :name, ["m", "Th"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
